/*
Font families from Google Fonts
font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;  //Open+Sans:600,400
font-family: 'PT Sans', sans-serif;    //PT+Sans:700
*/

body {
	margin-top: 30px;
	background-color: white;
}

h1{
	font-family: 'Pacifico', cursive;
}
h3{
	font-family: 'Open Sans', sans-serif;
}

/*The main bio section stands out*/
.jumbotron{
	line-height: 1.6;
}
/*Spacing for the link buttons */
.jumbotron .btn {
	margin-right: 15px;
}
.jumbotron p{
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

b{
	font-variant: small-caps;
	font-size: 1.2em;
}

li{
	padding-top: 5px;
	padding-bottom: 15px;
	margin-left: 10px;
}


/*Makes the links initially translucent*/
a{
	color: rgba(7, 95, 158, 0.7);
	font-size: 18px;
	font-family: "PT Sans", sans-serif;
}

/*On hover they become opaque*/
a:hover{
	text-decoration: none;
}
/*Adds underline to link titles and makes them a bit bigger font*/
.title{
	font-weight: bold;
	font-size: 22px;
	text-decoration: underline;
}

/*Sign in info for Brace Yourself*/
.signin{
	font-family: 'PT Sans', sans-serif;
}

.shoutout{
	text-decoration: underline;
}